@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@font-face {
  font-family: Migra;
  src: url("./fonts/Migra-Extrabold-800.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url("./fonts/Euclid-regular.ttf") format("true-type");
  font-display: swap;
}